html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

body {
	overflow-y: hidden;
	background-color: #f5f5f5;
}

form {
	margin: 10px;
}

.flexRow {
	display: flex;
	flex-flow: row;
}

.flexCol {
	display: flex;
	flex-flow: column;
}

.inputField {
	flex: 1;
	font-size: 18px;
}

#main {
	flex: 1;
}
