html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

body {
	overflow-y: hidden;
	background-color: #fefefe;
}

.flexRow {
	display: inline-flex;
	flex-flow: row;
	align-content: stretch;
}

.flexCol {
	display: flex;
	flex-flow: column;
	align-content: stretch;
}

.inputField {
	font-size: 18px;
}

.flexExpand {
	flex: 1;
}

#textForm {
	margin: 10px;
	margin-bottom: 0;
}

#scroll {
	width: 36px;
}

.scrollbar {
	background-color: #d8d8d8;
	width: 8px;
	border-radius: 8px;
	margin: 8px auto;
}
